mixin snsicon(altName, imgPath, aHref="#none", aTarget="_self")
  li: a(href=aHref target=aTarget): img(src=imgPath alt="연결 "+altName)



footer.footer 
  div.footer-menu
    ul.footer-menu-ul
      li
        button(class="fn-open-modal-agree" type="button") 개인정보 취급방침    
      li
        button(class="fn-open-modal-terms" type="button") 이용약관
  div.footer-info
    div.copy-text-cont
      p.company 에스유 네트웍스&nbsp; SU NETWORKS
      p 대표자&nbsp;&nbsp;&nbsp; 이영수
      p 주소&nbsp;&nbsp;&nbsp; 경기도 화성시 메타폴리스 22, 305동 1204호
      p 사업자등록번호&nbsp;&nbsp;&nbsp; 895-18-01625
      p 통신판매업신고번호&nbsp;&nbsp;&nbsp; 제 2021-용인기흥-2882
      p.copyright COPYRIGHT &COPY CAREASY CORP. ALL RIGHTS RESERVED.

    div.footer-snsicon-cont
      ul.snsicon-ul
        +snsicon("카톡",`${imgPath}/common/icon_circle_katalk.png`)
        +snsicon("블로그",`${imgPath}/common/icon_circle_blog.png`)
        +snsicon("유뷰브",`${imgPath}/common/icon_circle_youtube.png`, `https://www.youtube.com/channel/UC_LntEPC8s3h_QVESEuc1jQ`, `_blank`)
        +snsicon("인스타그램",`${imgPath}/common/icon_circle_instagram.png`)
        
        